In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('corona_train.csv',encoding='latin1')

In [3]:
data

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",Extremely Negative
...,...,...,...,...,...,...
41152,44951,89903,"Wellington City, New Zealand",14-04-2020,Airline pilots offering to stock supermarket s...,Neutral
41153,44952,89904,NaN,14-04-2020,Response to complaint not provided citing COVI...,Extremely Negative
41154,44953,89905,NaN,14-04-2020,You know itÂs getting tough when @KameronWild...,Positive
41155,44954,89906,NaN,14-04-2020,Is it wrong that the smell of hand sanitizer i...,Neutral
41156,44955,89907,i love you so much || he/him,14-04-2020,@TartiiCat Well new/used Rift S are going for ...,Negative

In [4]:
data['Sentiment'].value_counts()

Positive              11422
Negative               9917
Neutral                7713
Extremely Positive     6624
Extremely Negative     5481
Name: Sentiment, dtype: int64

In [5]:
data = data[['OriginalTweet','Sentiment']]

In [6]:
data

                                           OriginalTweet           Sentiment
0      @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...             Neutral
1      advice Talk to your neighbours family to excha...            Positive
2      Coronavirus Australia: Woolworths to give elde...            Positive
3      My food stock is not the only one which is emp...            Positive
4      Me, ready to go at supermarket during the #COV...  Extremely Negative
...                                                  ...                 ...
41152  Airline pilots offering to stock supermarket s...             Neutral
41153  Response to complaint not provided citing COVI...  Extremely Negative
41154  You know itÂs getting tough when @KameronWild...            Positive
41155  Is it wrong that the smell of hand sanitizer i...             Neutral
41156  @TartiiCat Well new/used Rift S are going for ...            Negative

[41157 rows x 2 columns]

In [7]:
data.Sentiment = data['Sentiment'].map({'Extremely Negative':-2,'Extremely Positive':2,'Neutral':0,'Negative':-1,'Positive':1})

C:\Users\ROHIT\anaconda\lib\site-packages\pandas\core\generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [8]:
data

                                           OriginalTweet  Sentiment
0      @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...          0
1      advice Talk to your neighbours family to excha...          1
2      Coronavirus Australia: Woolworths to give elde...          1
3      My food stock is not the only one which is emp...          1
4      Me, ready to go at supermarket during the #COV...         -2
...                                                  ...        ...
41152  Airline pilots offering to stock supermarket s...          0
41153  Response to complaint not provided citing COVI...         -2
41154  You know itÂs getting tough when @KameronWild...          1
41155  Is it wrong that the smell of hand sanitizer i...          0
41156  @TartiiCat Well new/used Rift S are going for ...         -1

[41157 rows x 2 columns]

# visualising

In [9]:
import spacy
from spacy.lang.en.stop_words import STOP_WORDS
import pandas as pd

In [10]:
nlp = spacy.load('en_core_web_sm')

In [11]:
data['word_count'] = data.OriginalTweet.apply(lambda x: len(x.split()))

C:\Users\ROHIT\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [12]:
data

,OriginalTweet,Sentiment,word_count
0,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,0,8
1,advice Talk to your neighbours family to excha...,1,38
2,Coronavirus Australia: Woolworths to give elde...,1,14
3,My food stock is not the only one which is emp...,1,42
4,"Me, ready to go at supermarket during the #COV...",-2,40
...,...,...,...
41152,Airline pilots offering to stock supermarket s...,0,12
41153,Response to complaint not provided citing COVI...,-2,23
41154,You know itÂs getting tough when @KameronWild...,1,18
41155,Is it wrong that the smell of hand sanitizer i...,0,18
41156,@TartiiCat Well new/used Rift S are going for ...,-1,46

In [13]:
data['char_count'] = data.OriginalTweet.apply(lambda x: len(x))

C:\Users\ROHIT\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [14]:
def avg_word_len(data):
    word = data.split()
    char = data
    avg = len(char)/len(word)
    return avg

In [15]:
data['avg_word_len'] = data.OriginalTweet.apply(lambda x: avg_word_len(x))

C:\Users\ROHIT\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [16]:
data

,OriginalTweet,Sentiment,word_count,char_count,avg_word_len
0,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,0,8,111,13.875000
1,advice Talk to your neighbours family to excha...,1,38,237,6.236842
2,Coronavirus Australia: Woolworths to give elde...,1,14,131,9.357143
3,My food stock is not the only one which is emp...,1,42,306,7.285714
4,"Me, ready to go at supermarket during the #COV...",-2,40,310,7.750000
...,...,...,...,...,...
41152,Airline pilots offering to stock supermarket s...,0,12,102,8.500000
41153,Response to complaint not provided citing COVI...,-2,23,138,6.000000
41154,You know itÂs getting tough when @KameronWild...,1,18,136,7.555556
41155,Is it wrong that the smell of hand sanitizer i...,0,18,111,6.166667
41156,@TartiiCat Well new/used Rift S are going for ...,-1,46,255,5.543478

# cleaning

In [17]:
data['OriginalTweet'] = data['OriginalTweet'].apply(lambda x: " ".join([t for t in x.split() if t not in STOP_WORDS]))

C:\Users\ROHIT\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
data

,OriginalTweet,Sentiment,word_count,char_count,avg_word_len
0,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,0,8,111,13.875000
1,advice Talk neighbours family exchange phone n...,1,38,237,6.236842
2,"Coronavirus Australia: Woolworths elderly, dis...",1,14,131,9.357143
3,"My food stock empty... PLEASE, don't panic, TH...",1,42,306,7.285714
4,"Me, ready supermarket #COVID19 outbreak. Not I...",-2,40,310,7.750000
...,...,...,...,...,...
41152,Airline pilots offering stock supermarket shel...,0,12,102,8.500000
41153,Response complaint provided citing COVID-19 re...,-2,23,138,6.000000
41154,You know itÂs getting tough @KameronWilds rat...,1,18,136,7.555556
41155,Is wrong smell hand sanitizer starting turn on...,0,18,111,6.166667
41156,@TartiiCat Well new/used Rift S going $700.00 ...,-1,46,255,5.543478

In [19]:
data['OriginalTweet'] = data.OriginalTweet.apply(lambda x: x.lower())

C:\Users\ROHIT\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [20]:
data

,OriginalTweet,Sentiment,word_count,char_count,avg_word_len
0,@menyrbie @phil_gahan @chrisitv https://t.co/i...,0,8,111,13.875000
1,advice talk neighbours family exchange phone n...,1,38,237,6.236842
2,"coronavirus australia: woolworths elderly, dis...",1,14,131,9.357143
3,"my food stock empty... please, don't panic, th...",1,42,306,7.285714
4,"me, ready supermarket #covid19 outbreak. not i...",-2,40,310,7.750000
...,...,...,...,...,...
41152,airline pilots offering stock supermarket shel...,0,12,102,8.500000
41153,response complaint provided citing covid-19 re...,-2,23,138,6.000000
41154,you know itâs getting tough @kameronwilds rat...,1,18,136,7.555556
41155,is wrong smell hand sanitizer starting turn on...,0,18,111,6.166667
41156,@tartiicat well new/used rift s going $700.00 ...,-1,46,255,5.543478

In [21]:
import re

In [22]:
data.OriginalTweet = data.OriginalTweet.apply(lambda x: re.sub('@',"",x))
data.OriginalTweet = data.OriginalTweet.apply(lambda x: re.sub('#',"",x))
data.OriginalTweet = data.OriginalTweet.apply(lambda x: re.sub(r'([a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z0-9_-]+)',"",x))
data.OriginalTweet = data.OriginalTweet.apply(lambda x: re.sub('0-9',"",x))

C:\Users\ROHIT\anaconda\lib\site-packages\pandas\core\generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [23]:
data

,OriginalTweet,Sentiment,word_count,char_count,avg_word_len
0,menyrbie phil_gahan chrisitv https://t.co/ifz9...,0,8,111,13.875000
1,advice talk neighbours family exchange phone n...,1,38,237,6.236842
2,"coronavirus australia: woolworths elderly, dis...",1,14,131,9.357143
3,"my food stock empty... please, don't panic, th...",1,42,306,7.285714
4,"me, ready supermarket covid19 outbreak. not i'...",-2,40,310,7.750000
...,...,...,...,...,...
41152,airline pilots offering stock supermarket shel...,0,12,102,8.500000
41153,response complaint provided citing covid-19 re...,-2,23,138,6.000000
41154,you know itâs getting tough kameronwilds rati...,1,18,136,7.555556
41155,is wrong smell hand sanitizer starting turn on...,0,18,111,6.166667
41156,tartiicat well new/used rift s going $700.00 a...,-1,46,255,5.543478

In [24]:
contractions = { 
"ain't": "am not / are not / is not / has not / have not",
"aren't": "are not / am not",
"can't": "cannot",
"can't've": "cannot have",
"'cause": "because",
"could've": "could have",
"couldn't": "could not",
"couldn't've": "could not have",
"didn't": "did not",
"doesn't": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",
"haven't": "have not",
"he'd": "he had / he would",
"he'd've": "he would have",
"he'll": "he shall / he will",
"he'll've": "he shall have / he will have",
"he's": "he has / he is",
"how'd": "how did",
"how'd'y": "how do you",
"how'll": "how will",
"how's": "how has / how is / how does",
"I'd": "I had / I would",
"I'd've": "I would have",
"I'll": "I shall / I will",
"I'll've": "I shall have / I will have",
"I'm": "I am",
"I've": "I have",
"isn't": "is not",
"it'd": "it had / it would",
"it'd've": "it would have",
"it'll": "it shall / it will",
"it'll've": "it shall have / it will have",
"it's": "it has / it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"mightn't've": "might not have",
"must've": "must have",
"mustn't": "must not",
"mustn't've": "must not have",
"needn't": "need not",
"needn't've": "need not have",
"o'clock": "of the clock",
"oughtn't": "ought not",
"oughtn't've": "ought not have",
"shan't": "shall not",
"sha'n't": "shall not",
"shan't've": "shall not have",
"she'd": "she had / she would",
"she'd've": "she would have",
"she'll": "she shall / she will",
"she'll've": "she shall have / she will have",
"she's": "she has / she is",
"should've": "should have",
"shouldn't": "should not",
"shouldn't've": "should not have",
"so've": "so have",
"so's": "so as / so is",
"that'd": "that would / that had",
"that'd've": "that would have",
"that's": "that has / that is",
"there'd": "there had / there would",
"there'd've": "there would have",
"there's": "there has / there is",
"they'd": "they had / they would",
"they'd've": "they would have",
"they'll": "they shall / they will",
"they'll've": "they shall have / they will have",
"they're": "they are",
"they've": "they have",
"to've": "to have",
"wasn't": "was not",
"we'd": "we had / we would",
"we'd've": "we would have",
"we'll": "we will",
"we'll've": "we will have",
"we're": "we are",
"we've": "we have",
"weren't": "were not",
"what'll": "what shall / what will",
"what'll've": "what shall have / what will have",
"what're": "what are",
"what's": "what has / what is",
"what've": "what have",
"when's": "when has / when is",
"when've": "when have",
"where'd": "where did",
"where's": "where has / where is",
"where've": "where have",
"what're": "what are",
"what's": "what has / what is",
"what've": "what have",
"when's": "when has / when is",
"when've": "when have",
"where'd": "where did",
"where's": "where has / where is",
"where've": "where have",
"who'll": "who shall / who will",
"who'll've": "who shall have / who will have",
"who's": "who has / who is",
"who've": "who have",
"why's": "why has / why is",
"why've": "why have",
"will've": "will have",
"won't": "will not",
"won't've": "will not have",
"would've": "would have",
"wouldn't": "would not",
"wouldn't've": "would not have",
"y'all": "you all",
"y'all'd": "you all would",
"y'all'd've": "you all would have",
"y'all're": "you all are",
"y'all've": "you all have",
"you'd": "you had / you would",
"you'd've": "you would have",
"you'll": "you shall / you will",
"you'll've": "you shall have / you will have",
"you're": "you are",
"you've": "you have"
}

In [25]:
def cont_to_exp(data):
    if type(data) is str:
        for key in contractions:
            value = contractions[key]
            data= data.replace(key,value)
        return data
    else:
        return data

In [26]:
x = "you'll"
cont_to_exp(x)

'you shall / you will'

In [27]:
data['OriginalTweet'] = data.OriginalTweet.apply(lambda x: str(cont_to_exp(x)))

C:\Users\ROHIT\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [28]:
data

,OriginalTweet,Sentiment,word_count,char_count,avg_word_len
0,menyrbie phil_gahan chrisitv https://t.co/ifz9...,0,8,111,13.875000
1,advice talk neighbours family exchange phone n...,1,38,237,6.236842
2,"coronavirus australia: woolworths elderly, dis...",1,14,131,9.357143
3,"my food stock empty... please, do not panic, t...",1,42,306,7.285714
4,"me, ready supermarket covid19 outbreak. not i'...",-2,40,310,7.750000
...,...,...,...,...,...
41152,airline pilots offering stock supermarket shel...,0,12,102,8.500000
41153,response complaint provided citing covid-19 re...,-2,23,138,6.000000
41154,you know itâs getting tough kameronwilds rati...,1,18,136,7.555556
41155,is wrong smell hand sanitizer starting turn on...,0,18,111,6.166667
41156,tartiicat well new/used rift s going $700.00 a...,-1,46,255,5.543478

In [29]:
def lemmatize(x):
    x_list = []
    doc = nlp(x)
    
    for token in doc:
        lemma = str(token.lemma_)
        if lemma == '-PRON-' or lemma == 'be':
            lemma = token.text
        x_list.append(lemma)
    return " ".join(x_list)

In [30]:
# data['OriginalTweet'] = data.OriginalTweet.apply(lambda x: lemmatize(x))

In [31]:
data

,OriginalTweet,Sentiment,word_count,char_count,avg_word_len
0,menyrbie phil_gahan chrisitv https://t.co/ifz9...,0,8,111,13.875000
1,advice talk neighbours family exchange phone n...,1,38,237,6.236842
2,"coronavirus australia: woolworths elderly, dis...",1,14,131,9.357143
3,"my food stock empty... please, do not panic, t...",1,42,306,7.285714
4,"me, ready supermarket covid19 outbreak. not i'...",-2,40,310,7.750000
...,...,...,...,...,...
41152,airline pilots offering stock supermarket shel...,0,12,102,8.500000
41153,response complaint provided citing covid-19 re...,-2,23,138,6.000000
41154,you know itâs getting tough kameronwilds rati...,1,18,136,7.555556
41155,is wrong smell hand sanitizer starting turn on...,0,18,111,6.166667
41156,tartiicat well new/used rift s going $700.00 a...,-1,46,255,5.543478

In [43]:
import keras
from keras .preprocessing.text import Tokenizer
from keras.layers import Embedding,Dense,Conv1D,MaxPooling1D,Flatten
from keras.preprocessing.sequence import pad_sequences
from sklearn.model_selection import train_test_split

In [42]:
x = data.OriginalTweet
y = data.Sentiment
y.shape

(41157,)

In [34]:
token = Tokenizer()
token.fit_on_texts(x)
encode = token.texts_to_sequences(x)

In [35]:
input_size = len(token.word_index)+1
input_size

82445

In [41]:
max_len = 120
x1 = pad_sequences(encode,maxlen=max_len)
x1.shape

(41157, 120)

In [37]:
from keras.models import Sequential

In [44]:
model = Sequential()
model.add(Embedding(input_size,300,input_length=max_len))
model.add(Conv1D(30,3,activation='relu',))
model.add(MaxPooling1D(2))
model.add(Conv1D(60,3,activation='relu'))
model.add(MaxPooling1D(2))
model.add(Flatten())
model.add(Dense(16,activation='relu'))
model.add(Dense(1,activation='sigmoid'))

In [45]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [46]:
model.fit(x1,y,epochs=1,batch_size=500)

C:\Users\ROHIT\anaconda\lib\site-packages\tensorflow_core\python\framework\indexed_slices.py:433: UserWarning: Converting sparse IndexedSlices to a dense Tensor of unknown shape. This may consume a large amount of memory.
  "Converting sparse IndexedSlices to a dense Tensor of unknown shape. "

Epoch 1/1
41157/41157 [==============================] - 1547s 38ms/step - loss: -6.9275 - accuracy: 0.1874

In [47]:
test_data = pd.read_csv('corona_test.csv')
test_data

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,1,44953,NYC,02-03-2020,TRENDING: New Yorkers encounter empty supermar...,Extremely Negative
1,2,44954,"Seattle, WA",02-03-2020,When I couldn't find hand sanitizer at Fred Me...,Positive
2,3,44955,NaN,02-03-2020,Find out how you can protect yourself and love...,Extremely Positive
3,4,44956,Chicagoland,02-03-2020,#Panic buying hits #NewYork City as anxious sh...,Negative
4,5,44957,"Melbourne, Victoria",03-03-2020,#toiletpaper #dunnypaper #coronavirus #coronav...,Neutral
...,...,...,...,...,...,...
3793,3794,48746,Israel ??,16-03-2020,Meanwhile In A Supermarket in Israel -- People...,Positive
3794,3795,48747,"Farmington, NM",16-03-2020,Did you panic buy a lot of non-perishable item...,Negative
3795,3796,48748,"Haverford, PA",16-03-2020,Asst Prof of Economics @cconces was on @NBCPhi...,Neutral
3796,3797,48749,NaN,16-03-2020,Gov need to do somethings instead of biar je r...,Extremely Negative
3797,3798,48750,"Arlington, Virginia",16-03-2020,I and @ForestandPaper members are committed to...,Extremely Positive

In [48]:
test_data.Sentiment = test_data['Sentiment'].map({'Extremely Negative':-2,'Extremely Positive':2,'Neutral':0,'Negative':-1,'Positive':1})

In [49]:
x_test = test_data.OriginalTweet
y_test = test_data.Sentiment

In [50]:
token = Tokenizer()
token.fit_on_texts(x_test)
encode = token.texts_to_sequences(x_test)
max_len = 120
x_test = pad_sequences(encode,maxlen=max_len)

In [51]:
model.evaluate(x_test,y_test)

3798/3798 [==============================] - 51s 14ms/step

[-8.776515733699789, 0.16271722316741943]

In [52]:
data = pd.DataFrame(model.predict(x_test))