In [83]:
import pandas as pd
import numpy as np

In [84]:
data = pd.read_csv('/content/sample_data/corona_train.csv',encoding='latin1')

In [85]:
data

       UserName  ...           Sentiment
0          3799  ...             Neutral
1          3800  ...            Positive
2          3801  ...            Positive
3          3802  ...            Positive
4          3803  ...  Extremely Negative
...         ...  ...                 ...
41152     44951  ...             Neutral
41153     44952  ...  Extremely Negative
41154     44953  ...            Positive
41155     44954  ...             Neutral
41156     44955  ...            Negative

[41157 rows x 6 columns]

In [86]:
data['Sentiment'].value_counts()

Positive              11422
Negative               9917
Neutral                7713
Extremely Positive     6624
Extremely Negative     5481
Name: Sentiment, dtype: int64

In [87]:
data = data[['OriginalTweet','Sentiment']]

In [88]:
data

                                           OriginalTweet           Sentiment
0      @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...             Neutral
1      advice Talk to your neighbours family to excha...            Positive
2      Coronavirus Australia: Woolworths to give elde...            Positive
3      My food stock is not the only one which is emp...            Positive
4      Me, ready to go at supermarket during the #COV...  Extremely Negative
...                                                  ...                 ...
41152  Airline pilots offering to stock supermarket s...             Neutral
41153  Response to complaint not provided citing COVI...  Extremely Negative
41154  You know itÂs getting tough when @KameronWild...            Positive
41155  Is it wrong that the smell of hand sanitizer i...             Neutral
41156  @TartiiCat Well new/used Rift S are going for ...            Negative

[41157 rows x 2 columns]

In [89]:
data.Sentiment = data['Sentiment'].map({'Extremely Negative':-2,'Extremely Positive':2,'Neutral':0,'Negative':-1,'Positive':1})

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [90]:
data

                                           OriginalTweet  Sentiment
0      @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...          0
1      advice Talk to your neighbours family to excha...          1
2      Coronavirus Australia: Woolworths to give elde...          1
3      My food stock is not the only one which is emp...          1
4      Me, ready to go at supermarket during the #COV...         -2
...                                                  ...        ...
41152  Airline pilots offering to stock supermarket s...          0
41153  Response to complaint not provided citing COVI...         -2
41154  You know itÂs getting tough when @KameronWild...          1
41155  Is it wrong that the smell of hand sanitizer i...          0
41156  @TartiiCat Well new/used Rift S are going for ...         -1

[41157 rows x 2 columns]

# visualising

In [91]:
import spacy
from spacy.lang.en.stop_words import STOP_WORDS
import pandas as pd

In [92]:
nlp = spacy.load('en_core_web_sm')

In [93]:
data['word_count'] = data.OriginalTweet.apply(lambda x: len(x.split()))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [94]:
data

                                           OriginalTweet  Sentiment  word_count
0      @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...          0           8
1      advice Talk to your neighbours family to excha...          1          38
2      Coronavirus Australia: Woolworths to give elde...          1          14
3      My food stock is not the only one which is emp...          1          42
4      Me, ready to go at supermarket during the #COV...         -2          40
...                                                  ...        ...         ...
41152  Airline pilots offering to stock supermarket s...          0          12
41153  Response to complaint not provided citing COVI...         -2          23
41154  You know itÂs getting tough when @KameronWild...          1          18
41155  Is it wrong that the smell of hand sanitizer i...          0          18
41156  @TartiiCat Well new/used Rift S are going for ...         -1          46

[41157 rows x 3 columns]

In [95]:
data['char_count'] = data.OriginalTweet.apply(lambda x: len(x))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [96]:
def avg_word_len(data):
    word = data.split()
    char = data
    avg = len(char)/len(word)
    return avg

In [97]:
data['avg_word_len'] = data.OriginalTweet.apply(lambda x: avg_word_len(x))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [98]:
data

                                           OriginalTweet  ...  avg_word_len
0      @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...  ...     13.875000
1      advice Talk to your neighbours family to excha...  ...      6.236842
2      Coronavirus Australia: Woolworths to give elde...  ...      9.357143
3      My food stock is not the only one which is emp...  ...      7.285714
4      Me, ready to go at supermarket during the #COV...  ...      7.750000
...                                                  ...  ...           ...
41152  Airline pilots offering to stock supermarket s...  ...      8.500000
41153  Response to complaint not provided citing COVI...  ...      6.000000
41154  You know itÂs getting tough when @KameronWild...  ...      7.555556
41155  Is it wrong that the smell of hand sanitizer i...  ...      6.166667
41156  @TartiiCat Well new/used Rift S are going for ...  ...      5.543478

[41157 rows x 5 columns]

# cleaning

In [99]:
data['OriginalTweet'] = data['OriginalTweet'].apply(lambda x: " ".join([t for t in x.split() if t not in STOP_WORDS]))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [100]:
data

                                           OriginalTweet  ...  avg_word_len
0      @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...  ...     13.875000
1      advice Talk neighbours family exchange phone n...  ...      6.236842
2      Coronavirus Australia: Woolworths elderly, dis...  ...      9.357143
3      My food stock empty... PLEASE, don't panic, TH...  ...      7.285714
4      Me, ready supermarket #COVID19 outbreak. Not I...  ...      7.750000
...                                                  ...  ...           ...
41152  Airline pilots offering stock supermarket shel...  ...      8.500000
41153  Response complaint provided citing COVID-19 re...  ...      6.000000
41154  You know itÂs getting tough @KameronWilds rat...  ...      7.555556
41155  Is wrong smell hand sanitizer starting turn on...  ...      6.166667
41156  @TartiiCat Well new/used Rift S going $700.00 ...  ...      5.543478

[41157 rows x 5 columns]

In [101]:
data['OriginalTweet'] = data.OriginalTweet.apply(lambda x: x.lower())

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [102]:
data

                                           OriginalTweet  ...  avg_word_len
0      @menyrbie @phil_gahan @chrisitv https://t.co/i...  ...     13.875000
1      advice talk neighbours family exchange phone n...  ...      6.236842
2      coronavirus australia: woolworths elderly, dis...  ...      9.357143
3      my food stock empty... please, don't panic, th...  ...      7.285714
4      me, ready supermarket #covid19 outbreak. not i...  ...      7.750000
...                                                  ...  ...           ...
41152  airline pilots offering stock supermarket shel...  ...      8.500000
41153  response complaint provided citing covid-19 re...  ...      6.000000
41154  you know itâs getting tough @kameronwilds rat...  ...      7.555556
41155  is wrong smell hand sanitizer starting turn on...  ...      6.166667
41156  @tartiicat well new/used rift s going $700.00 ...  ...      5.543478

[41157 rows x 5 columns]

In [103]:
import re

In [104]:
data.OriginalTweet = data.OriginalTweet.apply(lambda x: re.sub('@',"",x))
data.OriginalTweet = data.OriginalTweet.apply(lambda x: re.sub('#',"",x))
data.OriginalTweet = data.OriginalTweet.apply(lambda x: re.sub(r'([a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z0-9_-]+)',"",x))
data.OriginalTweet = data.OriginalTweet.apply(lambda x: re.sub('0-9',"",x))

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [105]:
data

                                           OriginalTweet  ...  avg_word_len
0      menyrbie phil_gahan chrisitv https://t.co/ifz9...  ...     13.875000
1      advice talk neighbours family exchange phone n...  ...      6.236842
2      coronavirus australia: woolworths elderly, dis...  ...      9.357143
3      my food stock empty... please, don't panic, th...  ...      7.285714
4      me, ready supermarket covid19 outbreak. not i'...  ...      7.750000
...                                                  ...  ...           ...
41152  airline pilots offering stock supermarket shel...  ...      8.500000
41153  response complaint provided citing covid-19 re...  ...      6.000000
41154  you know itâs getting tough kameronwilds rati...  ...      7.555556
41155  is wrong smell hand sanitizer starting turn on...  ...      6.166667
41156  tartiicat well new/used rift s going $700.00 a...  ...      5.543478

[41157 rows x 5 columns]

In [106]:
contractions = { 
"ain't": "am not / are not / is not / has not / have not",
"aren't": "are not / am not",
"can't": "cannot",
"can't've": "cannot have",
"'cause": "because",
"could've": "could have",
"couldn't": "could not",
"couldn't've": "could not have",
"didn't": "did not",
"doesn't": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",
"haven't": "have not",
"he'd": "he had / he would",
"he'd've": "he would have",
"he'll": "he shall / he will",
"he'll've": "he shall have / he will have",
"he's": "he has / he is",
"how'd": "how did",
"how'd'y": "how do you",
"how'll": "how will",
"how's": "how has / how is / how does",
"I'd": "I had / I would",
"I'd've": "I would have",
"I'll": "I shall / I will",
"I'll've": "I shall have / I will have",
"I'm": "I am",
"I've": "I have",
"isn't": "is not",
"it'd": "it had / it would",
"it'd've": "it would have",
"it'll": "it shall / it will",
"it'll've": "it shall have / it will have",
"it's": "it has / it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"mightn't've": "might not have",
"must've": "must have",
"mustn't": "must not",
"mustn't've": "must not have",
"needn't": "need not",
"needn't've": "need not have",
"o'clock": "of the clock",
"oughtn't": "ought not",
"oughtn't've": "ought not have",
"shan't": "shall not",
"sha'n't": "shall not",
"shan't've": "shall not have",
"she'd": "she had / she would",
"she'd've": "she would have",
"she'll": "she shall / she will",
"she'll've": "she shall have / she will have",
"she's": "she has / she is",
"should've": "should have",
"shouldn't": "should not",
"shouldn't've": "should not have",
"so've": "so have",
"so's": "so as / so is",
"that'd": "that would / that had",
"that'd've": "that would have",
"that's": "that has / that is",
"there'd": "there had / there would",
"there'd've": "there would have",
"there's": "there has / there is",
"they'd": "they had / they would",
"they'd've": "they would have",
"they'll": "they shall / they will",
"they'll've": "they shall have / they will have",
"they're": "they are",
"they've": "they have",
"to've": "to have",
"wasn't": "was not",
"we'd": "we had / we would",
"we'd've": "we would have",
"we'll": "we will",
"we'll've": "we will have",
"we're": "we are",
"we've": "we have",
"weren't": "were not",
"what'll": "what shall / what will",
"what'll've": "what shall have / what will have",
"what're": "what are",
"what's": "what has / what is",
"what've": "what have",
"when's": "when has / when is",
"when've": "when have",
"where'd": "where did",
"where's": "where has / where is",
"where've": "where have",
"what're": "what are",
"what's": "what has / what is",
"what've": "what have",
"when's": "when has / when is",
"when've": "when have",
"where'd": "where did",
"where's": "where has / where is",
"where've": "where have",
"who'll": "who shall / who will",
"who'll've": "who shall have / who will have",
"who's": "who has / who is",
"who've": "who have",
"why's": "why has / why is",
"why've": "why have",
"will've": "will have",
"won't": "will not",
"won't've": "will not have",
"would've": "would have",
"wouldn't": "would not",
"wouldn't've": "would not have",
"y'all": "you all",
"y'all'd": "you all would",
"y'all'd've": "you all would have",
"y'all're": "you all are",
"y'all've": "you all have",
"you'd": "you had / you would",
"you'd've": "you would have",
"you'll": "you shall / you will",
"you'll've": "you shall have / you will have",
"you're": "you are",
"you've": "you have"
}

In [107]:
def cont_to_exp(data):
    if type(data) is str:
        for key in contractions:
            value = contractions[key]
            data= data.replace(key,value)
        return data
    else:
        return data

In [108]:
x = "you'll"
cont_to_exp(x)

'you shall / you will'

In [109]:
data['OriginalTweet'] = data.OriginalTweet.apply(lambda x: str(cont_to_exp(x)))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [110]:
data

                                           OriginalTweet  ...  avg_word_len
0      menyrbie phil_gahan chrisitv https://t.co/ifz9...  ...     13.875000
1      advice talk neighbours family exchange phone n...  ...      6.236842
2      coronavirus australia: woolworths elderly, dis...  ...      9.357143
3      my food stock empty... please, do not panic, t...  ...      7.285714
4      me, ready supermarket covid19 outbreak. not i'...  ...      7.750000
...                                                  ...  ...           ...
41152  airline pilots offering stock supermarket shel...  ...      8.500000
41153  response complaint provided citing covid-19 re...  ...      6.000000
41154  you know itâs getting tough kameronwilds rati...  ...      7.555556
41155  is wrong smell hand sanitizer starting turn on...  ...      6.166667
41156  tartiicat well new/used rift s going $700.00 a...  ...      5.543478

[41157 rows x 5 columns]

In [111]:
def lemmatize(x):
    x_list = []
    doc = nlp(x)
    
    for token in doc:
        lemma = str(token.lemma_)
        if lemma == '-PRON-' or lemma == 'be':
            lemma = token.text
        x_list.append(lemma)
    return " ".join(x_list)

In [112]:
# data['OriginalTweet'] = data.OriginalTweet.apply(lambda x: lemmatize(x))

In [113]:
data

                                           OriginalTweet  ...  avg_word_len
0      menyrbie phil_gahan chrisitv https://t.co/ifz9...  ...     13.875000
1      advice talk neighbours family exchange phone n...  ...      6.236842
2      coronavirus australia: woolworths elderly, dis...  ...      9.357143
3      my food stock empty... please, do not panic, t...  ...      7.285714
4      me, ready supermarket covid19 outbreak. not i'...  ...      7.750000
...                                                  ...  ...           ...
41152  airline pilots offering stock supermarket shel...  ...      8.500000
41153  response complaint provided citing covid-19 re...  ...      6.000000
41154  you know itâs getting tough kameronwilds rati...  ...      7.555556
41155  is wrong smell hand sanitizer starting turn on...  ...      6.166667
41156  tartiicat well new/used rift s going $700.00 a...  ...      5.543478

[41157 rows x 5 columns]

In [114]:
import keras
from keras .preprocessing.text import Tokenizer
from keras.layers import Embedding,Dense,Conv1D,MaxPooling1D,Flatten
from keras.preprocessing.sequence import pad_sequences
from sklearn.model_selection import train_test_split

In [115]:
x = data.OriginalTweet
y = data.Sentiment
y.shape

(41157,)

In [116]:
token = Tokenizer()
token.fit_on_texts(x)
encode = token.texts_to_sequences(x)

In [117]:
input_size = len(token.word_index)+1
input_size

82445

In [118]:
max_len = 120
x1 = pad_sequences(encode,maxlen=max_len)
x1.shape

(41157, 120)

In [119]:
from keras.models import Sequential

In [120]:
model = Sequential()
model.add(Embedding(input_size,300,input_length=max_len))
model.add(Conv1D(30,3,activation='relu',))
model.add(MaxPooling1D(2))
model.add(Conv1D(60,3,activation='relu'))
model.add(MaxPooling1D(2))
model.add(Flatten())
model.add(Dense(16,activation='relu'))
model.add(Dense(1,activation='sigmoid'))

In [121]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [122]:
model.fit(x1,y,epochs=10,batch_size=500)

Epoch 1/10
83/83 [==============================] - 58s 691ms/step - loss: -0.6424 - accuracy: 0.1898
Epoch 2/10
83/83 [==============================] - 57s 692ms/step - loss: -1245.3856 - accuracy: 0.2033
Epoch 3/10
83/83 [==============================] - 57s 684ms/step - loss: -56087.6446 - accuracy: 0.2139
Epoch 4/10
83/83 [==============================] - 57s 690ms/step - loss: -591623.3516 - accuracy: 0.2162
Epoch 5/10
83/83 [==============================] - 58s 699ms/step - loss: -3038539.4196 - accuracy: 0.2114
Epoch 6/10
83/83 [==============================] - 61s 730ms/step - loss: -10128280.7262 - accuracy: 0.2169
Epoch 7/10
83/83 [==============================] - 57s 684ms/step - loss: -27270649.9286 - accuracy: 0.2115
Epoch 8/10
83/83 [==============================] - 57s 683ms/step - loss: -61536135.3333 - accuracy: 0.2134
Epoch 9/10
83/83 [==============================] - 57s 682ms/step - loss: -123776612.2857 - accuracy: 0.2201
Epoch 10/10
83/83 [==============================] - 57s 688ms/step - loss: -219119610.2857 - accuracy: 0.2152

In [123]:
test_data = pd.read_csv('/content/sample_data/corona_test.csv')
test_data

      UserName  ...           Sentiment
0            1  ...  Extremely Negative
1            2  ...            Positive
2            3  ...  Extremely Positive
3            4  ...            Negative
4            5  ...             Neutral
...        ...  ...                 ...
3793      3794  ...            Positive
3794      3795  ...            Negative
3795      3796  ...             Neutral
3796      3797  ...  Extremely Negative
3797      3798  ...  Extremely Positive

[3798 rows x 6 columns]

In [124]:
test_data.Sentiment = test_data['Sentiment'].map({'Extremely Negative':-2,'Extremely Positive':2,'Neutral':0,'Negative':-1,'Positive':1})

In [125]:
x_test = test_data.OriginalTweet
y_test = test_data.Sentiment

In [126]:
token = Tokenizer()
token.fit_on_texts(x_test)
encode = token.texts_to_sequences(x_test)
max_len = 120
x_test = pad_sequences(encode,maxlen=max_len)

In [127]:
model.evaluate(x_test,y_test)

119/119 [==============================] - 1s 8ms/step - loss: -23283374.0000 - accuracy: 0.1690

[-23283374.0, 0.16903632879257202]

In [128]:
data = pd.DataFrame(model.predict(x_test))